body {
    background-color: white;
   

}


.m {

    background-image: url("Sri\ Ambajee\ Electricals\ -\ Logo.svg");
    background-repeat: no-repeat;
    background-size: 90px 80px;
    background-position: 130px 20px;



}


.b1 {
    margin-top: 40px;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-left: 1000px;
    color: black;
    border: 1px solid red;
    background-color: white;
    font-family: "Times New Roman";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgb(0, 0, 0);

}

.b {
    margin-top: 40px;
    padding-left: 45px;
    padding-top: 10px;
    padding-right: 45px;
    padding-bottom: 10px;
    margin-left: 30px;
    background-color: rgb(237, 27, 36);

    border: none;
    font-family: "Times New Roman";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgb(0, 0, 0);
    color: white;
}

.ho {
    width: 100%;
    height: 550px;
    margin-top: 40px;

    background-image: url("Hero\ Banner.svg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;

}

.ok {
    display: inline;
    list-style-type: none;
    margin-top: 100px;
  
    font-weight: 500px;
    margin-left: 400px;
}
.accent-line {
  width: 40px;         /* Length of the line */
  height: 4px;         /* Thickness of the line */
  background-color: #e11d48; /* The specific Red from your Figma design */
  display: inline-block;
  flex-shrink: 0; 
  margin-left: 105px;
       /* Prevents the line from squishing */
}

.o {
    display: inline;
    list-style-type: none;
    margin-top: 100px;

    font-weight: bold;
    margin-left: 10px;

    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.k {
    margin-top: 100px;
    font-size: 20px;

}